


<p>Login details<br>
    --------------------------
    </p>
    
    <p>Email: <%= @user.email %></p>
    <p>Password: <%= @password %></p>
    <% @desiganation = Designation.find(@user.designation_id) %>
    <% @department = Department.find(@user.department_id) %>
    <% @role = MasterRole.find(@role_id) %>
    
    <p>Department: <%= @department.department_name %> </p>
    
    


  