$white: white;
$black: black;
$bg_color: #ffcccc;
.navbar {
        margin-bottom: 0;
        background: $black;
}
body {
        background: $bg_color;
        color: $white;
        font-family: 'Merriweather', sans-serif;
}
h1,
h2 {
        font-weight: bold;
}
p {
        font-size: 16px;
        color: $white;
}
a:visited {
        color: $black;
}