<div class="row-fluid">
  <% @users.each do |user|%>
    <div class="span3">
        <div class="our-team">
              <div class="picture">
                <img class="img-fluid" src="https://picsum.photos/130/130?image=1027">
              </div>
              <div class="team-content">
                <h3 class="name"><%=user.first_name%></h3>
                <!-- <h4 class="title">Web Developer</h4> -->
              </div>
              <ul class="social">
                <li>
                  <%= link_to 'See Profile', user_profile_path(user.id),:class => "btn btn-primary" %>
                </li>
              </ul>
        </div>
    </div>
    <%end %>
</div>
