
	<header>
		<a href="#" class="js-modal-close close">X</a>
		<h3>
			<%=@popup_user.first_name%> Attendence Details
		</h3>
	</header>
	
	<div class="modal-body">
		<div class="span6">
			<div class="widget-box">
				<div class="widget-content">
					<div class="todo">
			<div class="about">
				<p>
					<span>
					<strong> Name:</strong>
					</span>
					<br>
				</p>
			</div>
									
			<div class="about">
				<p>
					<span>
					<strong> Designation:</strong>
					</span>
					<br> 
				</p>
			</div>
		</div>
			    </div>
			</div>
		</div>
								
		
	</div>
	<footer>
		Hello	
	</footer>