<thead>
		<tr>
			
			<th>Employee Id</th>
			<th>Employee Name</th>
			
			<th>Working Day</th>
			
			<th>Off</th>
			<th>1</th>
			<th>2</th>

			<th>Action</th>
			
		</tr>
</thead>
<tbody>
	<tr class="odd gradeX">
		<td>2</td>
		<td></td>
		<td></td>
		<td></td>
		

		<td>
			<a href="#" class="btn btn-danger">
				<i class="fa fa-trash-o" aria-hidden="true"></i>
			</a>
		</td>
	</tr>
</tbody>