
.user_button {
  text-decoration: none;
  float: right;
  padding: 8px;
  margin: 8px 20px;
  color: white;
  border-radius: 10px;
  background-color: black;
  
}

.item {
	display: inline-block;
}

