/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


.margin_top {
	margin-top: 10%;
}

.margin_bottom {
	margin-bottom: 8px;
}
.color_white{
	
	color: #fff;

}

.color_red{
	
	color: #ee4c4c;
	font-size: 14px;

}

#loginbox .field_with_errors {
	display: inline;
}

.flash_notification{
	
	position: relative;
top: 50px;
}
#sidebar {
	top: 1%;
	position: absolute;
}

#header{
	
display: inline-block;
width: auto;
z-index: 99999999;
background-color: #2e363f;

}

.top_header_image img {

    width: 70%;
    text-align: center;
    padding-left: 20px;
    background: transparent;
    padding-top: 13px;


  } 

#user-nav {
	top: 20px;
}

#search {
	top: 20px;
	right: 20px;
}
#search a {
	border-radius: 4px;
}

#content_main {
	background: none repeat scroll 0 0 #eeeeee;
	/* margin-left: 220px; */
	margin-right: 0;
	padding-bottom: 25px;
	position: relative;
	min-height: 100%;
	width: auto;
}

.card {
	position: relative;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	border: 1px solid rgba(0,0,0,.125);
	border-radius: .25rem;
}

.text-center {
	text-align: center !important;
}
.card-header {
	padding: .75rem 1.25rem;
	margin-bottom: 0;
	
	border-bottom: 1px solid rgba(0,0,0,.125);
}
.card-body {
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	padding: 1.25rem;
}
.card-title {
	margin-bottom: .75rem;
}

.card-footer {
	padding: .75rem 1.25rem;
	
	border-top: 1px solid rgba(0,0,0,.125);
}
.card-header {
	border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}
.card-footer{
	border-radius: 0 0 calc(.25rem - 1px) calc(.25rem - 1px);
}

.card_design {
	max-width: 60%;
	margin-left: auto;
	margin-right: auto;
	display: block;
	padding-bottom: 40px;
}

.head_cards {
	font-size: 14px;
	font-weight: 600;
	color: #fff;
}

.container.top_notification {
	display: inline-block;
	position: absolute;
	top: 50px;
	left: 16%;
	z-index: 9999;

}
.punch_button .button_to {
	display: inline-block;
	padding: 10px;
}
.punch_button input {
	border-radius: 4px;
}
.dash_notify{
	font-size: 16px;
}

.btn_punched {
	border-radius: 4px;
}

.btn_punched p {
	padding-top: 6px;
}
.punch_button span {
	margin-left: 1px;
}
/* Start statistics */
.statistics {
  margin-top: 25px;
  color: #CCC;
}
.statistics .box {
  background-color: #313348;
  padding: 15px;
  overflow: hidden;
}
.statistics .box > i {
  float: left;
  color: #FFF;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  line-height: 60px;
  font-size: 22px;
}
.statistics .box .info {
  float: left;
  width: auto;
  margin-left: 10px;
}
.statistics .box .info h3 {
  margin: 5px 0 5px;
  display: inline-block;
}
.statistics .box .info p {color:#BBB}
/* End statistics */


.clock {
    
    color: #000;
    font-size: 25px;
    font-family: Orbitron;
    letter-spacing: 4px;

}

.lightpick__month-title select {
	width: 80px;
}

.user-thumb33 img {
    border-radius: 50%;
    border: 1px solid #6f7882;
}
.user_prof p {
    font-size: 16px;
    padding: 5px;
}

button#myBtn {
    float: right;
    padding: 10px;
    margin: 12px 12px 12px 12px;
    background: #000;
    color: #fff;
    border-radius: 20px;
}
td.center.padd_2 p {
    padding: 10px 3px 10px 3px;
    display: block;
    text-align: center;
}
.center {
    text-align: center;
}
.center.icons_leave a {
    padding: 6px;
    background: #1a6dcc;
    color: #fff;
    border-radius: 4px;
}
.select_month {
    float: right;
}
.select_month label {
    font-size: 14px;
    font-weight: 600;
}
.statistics .holiday_general {
    margin-left: 0;
    margin-bottom: 12px;
}

.bg_lblue{
background:	#27a9e3 !important;
padding: 10px !important;
border-radius: 6px;
}

.dated_general {
    border-right: 2px solid;
    text-align: center;
    color: #fff;
}
.dated_occasion {
    text-align: center;
    color: #fff;
        padding-top: 20px;
}

img.user_pic {
    width: 240px;
    height: 240px;
}

.padd_5 {
    padding: 12px;
    border-radius: 6px;
    margin-bottom: 16px;
}

.table th{
	text-align: left;
}
.leave_tabs li {
	display: inline-block;
	width: 373px;
}
.nav.nav-tab.leave_tabs {
	padding: inherit;
	margin: 30px 0px 0px 0px;
}

.l_tab1 {
	padding-right: 20px;
}
.l_tab2 {
	padding-right: 20px;
	padding-left: 20px;
}

.l_tab3 {
	padding-left: 20px;
}
.span4.holiday_general {
	padding: 0px 10px 0px 10px;
}

.user_pic_all {
	width: 100%;
	height: 270px;
}
.user_online {
	display: inline-block;
	position: absolute;
	top: 10px;
	left: 10px;
	font-size: 16px;
}

.user_online .present {
	color: #54df54;
}
 .team-prof {
	position: absolute;
	bottom: 0px;
	width: 100%;
	padding: 8px 0px;
	text-align: right;
	background: rgba(0, 0, 0, 0.7);
	transform: translateX(0);
	transition: all 0.2s ease 0s;
	left: 0;
	border-radius: 0px 0px 5px 5px;
}

 .team-prof .post-title {
	margin: 0;
	font-size: 20px;
	color: #fff;
	padding-right: 20px;
}
.team-prof .post {
	margin-bottom: 0;
	color: #888;
	padding-right: 20px;	
}

.card.card-bg.bg-3 {
	background: url(/assets/material-bg3.jpg);
	background-size: cover;
}
.tr-radius {
	border-top-right-radius: 4px !important;
	-moz-border-top-right-radius: 4px !important;
	-webkit-border-top-right-radius: 4px !important;
}
.card {
	margin-bottom: 20px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border-color: transparent;
	color: #000;
	background: #fff;
	transition: .2s ease-in;
	-moz-transition: .2s ease-in;
	-webkit-transition: .2s ease-in;
	box-shadow: 0 0 15px 1px rgba(17,17,17,.03);
	-webkit-box-shadow: 0 0 15px 1px rgba(17,17,17,.03);
	-moz-box-shadow: 0 0 15px 1px rgba(17,17,17,.03);
}
.thumb-rounded {
	width: 60%;
	margin: 20px auto 0;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
.thumb {
	position: relative;
	display: block;
}
.thumb img:not(.media-preview) {
	width: 100%;
	max-width: 100%;
	display: inline-block;
	height: auto;
}
.thumb-rounded img {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
.text-white {
	color: #fff !important;
}
.mt20 {
	margin-top: 20px !important;
}
.icons-list {
	padding: 0;
	margin: 4px;
	list-style: none;
	line-height: 1;
	font-size: 0;
}
.text-center {
	text-align: center !important;
}
.font-green {
	color: #57c657;
}


.icons-list > li {
	margin-left: 16px;
	position: relative;
	display: inline-block;
	font-size: 18px;
}
.icons-list > li > a {
	color: inherit;
	display: block;
	opacity: 1;
	filter: alpha(opacity=100);
}
.card-flat .card-header {
	padding-top: 14px;
	padding-bottom: 0;
	background: 0 0;
}
.card-header:first-child {
	-webkit-border-top-left-radius: 4px;
	-moz-border-top-left-radius: 4px;
	border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-top-right-radius: 4px;
	border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 0;
	-moz-border-bottom-right-radius: 0;
	border-bottom-right-radius: 0;
	-webkit-border-bottom-left-radius: 0;
	-moz-border-bottom-left-radius: 0;
	border-bottom-left-radius: 0;
}
.card-header {
	padding: 8px 15px;
	-webkit-border-top-left-radius: 4px;
	-moz-border-top-left-radius: 4px;
	border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-top-right-radius: 4px;
	border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 0;
	-moz-border-bottom-right-radius: 0;
	border-bottom-right-radius: 0;
	-webkit-border-bottom-left-radius: 0;
	-moz-border-bottom-left-radius: 0;
	border-bottom-left-radius: 0;
	border: none;
	position: relative;
	font-size: 17px;
}
.card-title {
	position: relative;
	margin-bottom: 0;
	padding: 4px 0 3px;
	font-size: 20px;
	font-family: roboto,sans-serif !important;
	line-height: 1.2;
}
.position-left {
	margin-right: 10px;
}
.user_block {
	margin-left: 0 !important;
	margin-right: 14px;
}
.edit_user_button {
	float: right;
	font-size: 17px;
	background: #5838c9;
	color: #fff;
	padding: 8px;
	border-radius: 7px;
	margin-bottom: 13px;
}
.actions.center.mt-5 {
	margin-top: 16px;
}