/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */





input {
	width: 100%;
	display: block;
	border: none;
	border-bottom: 1px solid #999;
	padding: 6px 30px;
	font-family: Poppins;
	box-sizing: border-box;
}
label {
	position: absolute;
	left: 0;
	top: 50%;
	color: #222;
	-webkit-transform: translateY(-50%);
}
figure {
	
	margin: 0;
}

.zmdi {
	
	font-size: 18px;
}
.label-agree-term {
	
	-webkit-transform: translateY(0);
}

.error_msg {
	font-size: 15px;
	font-weight: 500;
}
.error_color {
	color: red;
}

input[type="checkbox"]:not(old) + label > span{

border: 1px solid #000;

}


.container.top_notification {
	background: transparent;
	box-shadow: none;
}
.add_city{
font-family: Poppins;
color: #6c757d;
font-weight: 300;

}
