/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


.margin_top {
	margin-top: 10%;
}

.margin_bottom {
	margin-bottom: 8px;
}
.color_white{
	
	color: #fff;

}

.color_red{
	
	color: #ee4c4c;
	font-size: 14px;

}

#loginbox .field_with_errors {
	display: inline;
}

.flash_notification{
	
	position: relative;
top: 50px;
}
#sidebar {
	top: 14%;
}

#header{
	
display: inline-block;
width: auto;
z-index: 99999999;
background-color: #2e363f;

}

.top_header_image img {

    width: 70%;
    text-align: center;
    padding-left: 20px;
    background: transparent;
    padding-top: 13px;


  } 

#user-nav {
	top: 20px;
}

#search {
	top: 20px;
	right: 20px;
}
#search a {
	border-radius: 4px;
}

#content_main {
	background: none repeat scroll 0 0 #eeeeee;
	/* margin-left: 220px; */
	margin-right: 0;
	padding-bottom: 25px;
	position: relative;
	min-height: 100%;
	width: auto;
}

.card {
	position: relative;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	border: 1px solid rgba(0,0,0,.125);
	border-radius: .25rem;
}

.text-center {
	text-align: center !important;
}
.card-header {
	padding: .75rem 1.25rem;
	margin-bottom: 0;
	
	border-bottom: 1px solid rgba(0,0,0,.125);
}
.card-body {
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	padding: 1.25rem;
}
.card-title {
	margin-bottom: .75rem;
}

.card-footer {
	padding: .75rem 1.25rem;
	
	border-top: 1px solid rgba(0,0,0,.125);
}
.card-header {
	border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}
.card-footer{
	border-radius: 0 0 calc(.25rem - 1px) calc(.25rem - 1px);
}

.card_design {
	max-width: 60%;
	margin-left: auto;
	margin-right: auto;
	display: block;
	padding-bottom: 40px;
}

.head_cards {
	font-size: 14px;
	font-weight: 600;
	color: #fff;
}

.container.top_notification {
	display: inline-block;
	position: absolute;
	top: 50px;
	left: 16%;
	z-index: 9999;

}
.punch_button .button_to {
	display: inline-block;
	padding: 10px;
}
.punch_button input {
	border-radius: 4px;
}
.dash_notify{
	font-size: 16px;
}

.btn_punched {
	border-radius: 4px;
}

.btn_punched p {
	padding-top: 6px;
}
.punch_button span {
	margin-left: 1px;
}
/* Start statistics */
.statistics {
  margin-top: 25px;
  color: #CCC;
}
.statistics .box {
  background-color: #313348;
  padding: 15px;
  overflow: hidden;
}
.statistics .box > i {
  float: left;
  color: #FFF;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  line-height: 60px;
  font-size: 22px;
}
.statistics .box .info {
  float: left;
  width: auto;
  margin-left: 10px;
}
.statistics .box .info h3 {
  margin: 5px 0 5px;
  display: inline-block;
}
.statistics .box .info p {color:#BBB}
/* End statistics */


.clock {
    
    color: #000;
    font-size: 25px;
    font-family: Orbitron;
    letter-spacing: 4px;

}

.lightpick__month-title select {
	width: 80px;
}

